<ion-header>
  <ion-navbar style="height:5%;">
    <ion-title align-center="center" class="recipetitle">
      <span style="color: white;"> Recipes </span>
      <img class="recipetitleimage" src="assets/icon/logo.png">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  


    <!-- <a href="../foodselection/foodselection.html"> -->


      <ion-grid *ngIf="recipes">
        <!-- <ion-row responsive-sm *ngFor="let recipe of recipes">
          <ion-col width-50>
              <div class="list customlist" >
                  <div class="foodName">{{recipe.name}}</div>
                  <img class="listimg" src="assets/icon/pizzai.png">
                  <div class="foodTime">{{recipe.time}}</div>  
              </div>
          </ion-col>

        </ion-row> -->

        <ion-row *ngFor="let trio of getTriples()" >
          <ion-col *ngFor="let item of trio" col-6>
              <div class="listcustomlist" (click)="recipeInfo(item)">
                  <div class="foodName">{{item.name}}</div>
                  <img class="listimg" src="{{item.image}}">
                  <div class="foodTime">{{item.time}}
                  <br>
                  {{item.calories}}
                  </div>  
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>